@using AITech.WebUI.DTOs.AboutDtos
@model ResultAboutDto

<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            @if (Model != null)
            {
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img">
                        <img class="img-fluid" src="@Model.ImageUrl">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Hakkımızda</div>
                    <h1 class="mb-4">@Model.Title</h1>
                    <p class="mb-4">@Model.Description</p>

                    @await Component.InvokeAsync("_AboutItem")

                    <div class="d-flex align-items-center mt-4">
                        <a class="btn btn-primary rounded-pill px-4 me-3" href="">Daha Fazla</a>

                        @await Component.InvokeAsync("_Social")

                    </div>
                </div>
            }
        </div>
    </div>
</div>
